<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		
		<form th:action="@{/employees/runInsert}" method="POST" th:object="${employeeForm}" >

			name:<span th:text="*{name}"></span><br>
			age:<span th:text="*{age}"></span><br>
			sex:<span th:text="*{sex_flg}"></span><br>
			department:<span th:text="*{department_code}"></span><br>
			position:<span th:text="*{position_code}"></span><br>
			
			<input type="hidden" th:field="*{name}"/>
			<input type="hidden" th:field="*{age}"/>
			<input type="hidden" th:field="*{sex_flg}"/>
			<input type="hidden" th:field="*{department_code}"/>
			<input type="hidden" th:field="*{position_code}"/>
		
			<input type="submit" value="insert"/>
		
		</form>
		
	</body>
</html>