<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	
		<a th:href="@{/employees/insert}">INSERT</a>
		
		<table border="1">
			<tr><th>name</th><th>age</th><th>sex</th><th>department</th><th>position</th></tr>
			
			<tr th:each="employee : ${employeeList}">
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.age}"></td>
				<td th:text="${employee.sex_flg}"></td>
				<td th:text="${employee.department_code}"></td>
				<td th:text="${employee.position_code}"></td>
			</tr>
			
		</table>
	</body>
</html>